<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div>
        <img th:src="@{/images/bf_iconeUsuario.png}" alt="Icone genérico de usuário" id="imgUserIcon"/>
        <h1>Autenticação</h1>
        <form method="post" action="">
            <fieldset>
                <br/>
                <input type="text" name="email" placeholder="Informe o seu E-mail"/>
                <input type="password" name="password" placeholder="Informe a sua senha"/>
                <br/><br/>
                <input type="button" value="Acessar" onclick="location.href='customer/customerHome.html';"/>
            </fieldset>
        </form>
        <br/>

        <div id="errorMessage">
            error
        </div>
        <br/>

        <form method="get" th:action="@{public/customer/new}">
            <input type="submit" value="Criar conta de usuário">
        </form>
        <br/>
        <form method="get" th:action="@{public/restaurant/new}">
            <input type="submit" value="Criar conta de restaurante">
        </form>
    </div>
</div>
</body>
</html>