<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/customer/home/}">
<body>
<div layout:fragment="content">
    <form id="form" method="get" th:object="${searchFilter}" th:action="@{/customer/search}">
        <input id="searchType" type="hidden" th:field="*{searchType}">
        <input id="categoryId" type="hidden" th:field="*{categoryId}">
        <div>
            <h1>É hora da refeição!</h1>
            <fieldset id="fieldsetFilters">
                <input type="text" th:field="*{text}" placeholder="Quero comer...">
                <input type="button" value="Vamos lá!" onclick="searchRest(null);">
            </fieldset>
        </div>
        <br/>

        <div id="divFoodCategoryGeneral">
            <div id="divFoodCategoryOption" th:each="category : ${categories}">
                <a href="#" th:onclick="'searchRest(' + ${category.id} + ');'">
                    <img th:src="@{/images/category/} + ${category.image}" id="imgFoodCategory">
                    <br/>
                    <span th:text="${category.name}"></span>
                </a>
            </div>
        </div>
    </form>

    <div>
            <h1>Resultados</h1>
            <fieldset>
                <legend>Filtros</legend>
                <input type="button" value="Entrega Grátis" id="inputSelected"><br>
                <input type="button" value="Maior preço"> <input type="button" value="Menor preço"><br>
                <input type="button" value="Maior taxa"> <input type="button" value="Menor taxa"><br>
                <input type="button" value="Maior tempo"> <input type="button"
                    value="Menor tempo"><br>
            </fieldset>
        </div><br /><br />

        <div id="divRestaurantGeneral">
            <div id="divRestaurantOptions" th:each="restaurant : ${restaurants}">
                <a href="#">
                    <img th:src="@{/images/logotype/} + ${restaurant.logotype}" id="imgRestaurantOption"><br>
                    <span id="spanRestaurantOption" th:text="${restaurant.name}"></span><br>
                    <span th:text="'Categoria do Restaurante - ' + ${restaurant.categoryAsText}"></span><br>
                    <span th:text="'Tempo médio de Entrega: ' + ${restaurant.timeDeliveryDefault} + ' min.'"></span><br>
                    <span th:text="'Taxa de Entrega: ' + ${#numbers.formatCurrency(restaurant.taxDelivery)}"></span><br>
                </a>
                <br />
            </div>
        </div>

    <div th:if="${restaurants.size() == 0}">
        <div id="errorMessage"><span>Nenhum restaurante encontrado!</span></div><br>
    </div>

    <input type="button" value="Voltar" th:onclick="'location.href=\'' + @{/customer/home} + '\';'">
    </div>
</body>

</html>